
version: 2
jobs:
  build:
    docker:
      - image: google/cloud-sdk
    steps:
      - checkout
      - run:
          name: Building
          command: echo Building...
      - run:
          name: Print the Current Time
          command: date

  test:
    docker:
      - image: google/cloud-sdk
    steps:
      - checkout
      - run:
          name: Testing
          command: echo Testing ...
      - run:
          name: Print the Current Time
          command: date

  deploy:
    docker:
      - image: google/cloud-sdk
    steps:
      - checkout
      - run:
          name: Decode and Store Service Account
          command: echo $GCLOUD_SERVICE_KEY | base64 --decode --ignore-garbage > ${HOME}/gcloud-service-key.json
      - run:
          name: Struc
          command: pwd && ls -a    
      - run:
          name: Setup Google Cloud
          command: |
            sudo apt-get update && sudo apt-get --only-upgrade install kubectl
            gcloud auth activate-service-account --key-file=${HOME}/gcloud-service-key.json
            gcloud --quiet config set project ${GOOGLE_PROJECT_ID}
            gcloud --quiet config set compute/zone ${GOOGLE_COMPUTE_ZONE}
            gcloud --quiet container clusters get-credentials ${GOOGLE_CLUSTER_NAME}   


workflows:
  version: 2
  build_test_deploy:
    jobs:
      - build:
            filters:
              branches:
                only:
                  - master
      - test:
          requires:
            - build
          filters:
            branches:
              only:
                - master
      - hold:
          type: approval
          requires:
            - test
          filters:
            branches:
              only:
                - master	
      - deploy:
          filters:
              branches:
                only:
                  - master

