
version: 2
jobs:
  build:
    docker:
      - image: google/cloud-sdk:slim
    steps:
      - checkout
      - run:
          name: Building
          command: echo Building...
      - run:
          name: Print the Current Time
          command: date

  test:
    docker:
      - image: google/cloud-sdk:slim
    steps:
      - checkout
      - run:
          name: Testing
          command: echo Testing ...
      - run:
          name: Print the Current Time
          command: date

  deploy:
    docker:
      - image: google/cloud-sdk:slim
    steps:
      - checkout
      - run:
          name: Decode and Store Service Account
          command: echo $GCLOUD_SERVICE_KEY | base64 --decode --ignore-garbage > ${HOME}/gcloud-service-key.json
      - run:
          name: Setup Google Cloud
          command: ./gcloud_setup.sh   


workflows:
  version: 2
  build_test_deploy:
    jobs:
      - build:
            filters:
              branches:
                only:
                  - master
      - test:
          requires:
            - build
          filters:
            branches:
              only:
                - master
      - hold:
          type: approval
          requires:
            - test
          filters:
            branches:
              only:
                - master	
      - deploy:
          filters:
              branches:
                only:
                  - master

